* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: o;
    box-sizing: border-box;
}


.screen {
    background-color: #2c2e31;
    color: white;
    height: 35vh;
    width: 100%;
    padding-top: 10px;
    h2 {
        margin: 0px;
        text-align: right;
    }
}

.input {
    background-color: #1d1e20;
    height: 65vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    button {
        color: white;
        background: #4c4c54;

        margin: 0 1.3em 0;
        width: 3.8em;
        height: 3.8em;
        border-radius: 40%;
    }
}

#zero {
    padding: 0 69px 0;
    border-radius: 15px;
}

#opt {
    background: #ff9100;
}

#igual {
    background: #00dc72;
}

#limpa {
    background: #e63437;
}

.tela1 {
    font-size: 35px;
}

.tela2 {
    font-size: 50px;
    padding-top: 20px;
}
